* {
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

	body { background-image: url("http://www.gxdmtl.com/pics/main/24/293163-css-background.jpg");
    background-color: #cccccc;
	} 
}
h1 {
  color: white; 
}

h1 { 
  background-color: #00CED1;

}

p {
  color: red;
}


img {
  width: 300px; 
  
}

img.galleryImage {
  width: 300px; 
  
}

body {
  
  background-color: #E0FFFF;
  
}

h2 {
  color: black;
  
  
}

.center { 
 margin: auto;
  
}
/*----------clearfix------------*/
.clearfix::after {
		content: " ";
		display: table;
		clear: both;  
}
