* {
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body  {
	 background-image: url("http://wallpapercave.com/wp/KydjkP5.jpg");
    background-color: #cccccc;
    background-color: white;
	    background-repeat: no-repeat;
    background-attachment: fixed;	
	margin: 0em .5em 0em 0.5em; 
	padding: 0.3em 0em 0em 1em;
	margin-left: 200px;
	margin-right: 200px; 
}

body, p, ul, li, td, th, table {
	font-family: futura;
	font-size: 12px;
	color: #00CED1;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.3em;
    }
	
	ul, li {
	line-height: 1.25em;
	padding-bottom: 0em;
	padding-left: 0em;
	padding-right: 1.5em;
	margin-left: 1.2em;
}
	
h1{ 	

	text-align: center;
	font-size: 100px; 
	    background-color: white;
	color: black;
	line-height: normal;
	font-family: futura;
	font-style: bold; 
	text-transform: capitalize;
}

h2 {	text-align: center;
	color: white;
	font-family: futura;
	background-color: #00CED1;
	font-size: 40px;
	line-height: 1.2em;
	padding-left: 0.7em;
	padding-top: 0.2em; 
	padding-bottom: .2em;
}

h3 { 
	font-size: 30px; 
	font-style: italic;
}

p {	color: white;
	font-family: helvetica;
	font-size: 16px; 
 
}
	
.center { 
 margin: auto;
  
}
/*----------clearfix------------*/
.clearfix::after {
		content: " ";
		display: table;
		clear: both;  
}
