* {
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
	background-image: url("http://www.gxdmtl.com/pics/main/24/293163-css-background.jpg");
   font-size: 16px;
  font-family: futura;
	} 
}


h1 {
  color: white; 
}

h1 { 
  background-color: #00CED1;

}

p {
  color: red;
}


img {
  width: 300px; 
  
}

img.galleryImage {
  width: 300px; 
  
}
  
}

h2 {
  color: black;
  
  
}

	
.center { 
 margin: auto;
  
}
/*----------clearfix------------*/
.clearfix::after {
		content: " ";
		display: table;
		clear: both;  
}
